
.container{
    transition: transform 0.30s ease;
}

.container.transitioning{
    transform: translateX(-100%);
  }

/* .textBox{
    border-color: #3e2780;
} */

.mb-5 {
    margin-bottom: 2rem !important;
}
