.navbar {
  background-color: white;
  /* background-color: #ededed; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: unset;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  max-width: 1500px;
  /* position: relative; */
  position: fixed;
  background-color: white;
  z-index: 1000;
}
h4{
  color: #3E2780;
  padding-left: 20px;

}
.nav-links {
  color: #3E2780 !important;
}


.nav-logo {
  color: black;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-logo .icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 16px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  margin-left: auto; 
  margin-right: 0;;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 1rem 1rem;
  height: 100%;
}
/* .fa-code {
  margin-left: 1rem;
} */

.nav-item {
  margin-right: 0px;
  font-size: 18px;
  margin-top: 10px;
}

.nav-item:after {
  content: "";
display: block;
  height: 5px;
  width: 0;
}

.nav-item:hover:after {
  width: 100%;
}

.nav-item .active {
  color: black;
}

.nav-icon {
  display: none;
  color: black;
}

.nav-icon .icon {
  display: inline-block;
  color: #3E2780;
  width: 2rem;
  height: 2rem;
  margin-right: 20px;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 50px;
    left: -110%;
  }

  .nav-menu.active {
    z-index: 2;
    background:white;
    left: 0px;
    text-align: right;
    /* background-color: #eee9e9; */
    margin: auto;
  }
  .nav-item .active {
    color: black;
    border: none;
    padding-top:0px;
    padding-bottom:0px;
  }
  .nav-links {
    width: 100%;
    display: table;
  }

  .nav-logo .icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: black;
  }
}